<%= render 'post_images/list', post_images: @post_images %>
<div class="block-content">
  <%= image_tag('sample-author1.jpg', class: "img-circle pull-left profile-thumb") %>
  <h3 class="block-title">
    <a href="#"><i class="fa fa-map-marker"></i> ショップ名</a>
  </h3>
  <p>この画像に関する説明</p>
  <ul class="inline-meta">
    <li>By
      <a href="#">投稿者名</a>
    </li>
    <li>
      <a href="#">23 コメント</a>
    </li>
  </ul>
</div>


